@layer components {

  .cm-scrollbar {
    --cm-scrollbar-width: 8px;
    --cm-scrollbar-thumb-color: hsl(var(--cm-body)/0.3);
    --cm-scrollbar-thumb-color-focus: hsl(var(--cm-body)/0.4);

    ::-webkit-scrollbar {
      width: var(--cm-scrollbar-width);
      height: var(--cm-scrollbar-width);
    }
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 2px grey;
      background-color: hsl(var(--cm-background));
      border-radius: var(--cm-scrollbar-width);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: var(--cm-scrollbar-thumb-color); 
      border-radius: var(--cm-scrollbar-width);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--cm-scrollbar-thumb-color-focus); 
    }
  }
}